<h1> 基于STM数据采集共享</h1>
<h2> 第二组</h2>
<h2> 07方姜清 21廖乃积</h2>
<p>请选着需要的数据:</p>
<a href = "/temperature">temperature</a>
<a href = "/humidity">humidity</a>
<a href = "/pir">pir</a>
<a href = "/lcd">lcd</a>
